apiVersion: v1
kind: Service
metadata:
  name: {{ include "springboot-chart.fullname" . }}
  labels:
    {{- include "springboot-chart.labels" . | nindent 4 }}
spec:
  type: NodePort   # Change service type to NodePort
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
      nodePort: 30001   # Specify the desired node port
  selector:
    {{- include "springboot-chart.selectorLabels" . | nindent 4 }}
